#dialog
{
    padding: 4%;
    display: flex;
    flex-direction: column;
    width: 80vh;
    border-radius: 2%;
    border: 0px solid black;
    background: white;
    -webkit-box-shadow: 3px 7px 23px 1px rgba(117,117,117,1);
    -moz-box-shadow: 3px 7px 23px 1px rgba(117,117,117,1);
    box-shadow: 3px 7px 23px 1px rgba(117,117,117,1);
    margin-bottom: 20px;
}

.title
{
  color: black;
  margin-left: 1%;
  margin-right: 5%;
  text-align: left;
  position: relative;
  font-size: 24px;; 
  display: inline-block;
  line-height: 30px;
}

.admintitle
{
    margin-bottom: 1%;
    padding: 1.3% 0% 2.5% 1.5%;
    border: 1.5px solid #e91e63;
    border-radius: 25px;
    background: #fed2f278;
}

.adminid
{
    float: right;
    margin-right: 20px;
    font-size: large;
}

.adminname
{
    font-size: xx-large;
    float: left;
    width: auto;
}

.main1
{
    padding: 1%;
}

.main1-left
{
   width: 50%;
   height: 90%;
   float: left;
   margin-left: 3%;
  
}

.main1-right
{
    float: right;
    height: 50%;
    width: 40%;
    margin-right: 6%;
}

.mdl-textfield
{
    padding: 20px 0px 0px 0px;
}

.mdl-textfield__label:after {
    bottom: 0
}

.mdl-textfield:not(.is-dirty) input::-webkit-datetime-edit {
    color: transparent; 
}

.mdl-button--file input{
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
  
  .mdl-textfield--file .mdl-textfield__input{
      box-sizing: border-box;
      width: calc(100% - 32px);
    }
    .mdl-textfield--file .mdl-button--file {
      right: 0;
    }

.productimage {
    float: right;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
    height: 190px;
    position: relative;
    text-align: center;
}

#product-image {
    width: 200px;
    height: 190px;
    border-radius: 10px;
}

#product-preview {
    width: 200px;
    height: 190px;
    filter: blur(2px);
  -webkit-filter: blur(2px);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 24px;
  } 

 
  





