/*includes styling common to all pages*/
.border
{
    border: 2px solid black;
}
.border-blue
{
    border: 2px solid blue;
}
body
{
    display: flex;
    flex-direction: column;
}

html
{
    height: 100vh;
    overflow: hidden;
}

.custom-side-bar
{
    width: 20%;
}

.custom-mdl-layout__content
{
    margin-left: 20%;
}
.mdl-layout-title
{
    font-family: 'Spicy Rice', cursive;
    font-size: xx-large;
}
.mdl-textfield__input
{
    border-bottom: 1px solid #000;
}
.mdl-textfield__label{
    color: #000;
}
.gotu
{
    font-family: 'Gotu', sans-serif;
}
.spicy-rice
{
    font-family: 'Spicy Rice', cursive;
}
a
{
    text-decoration: none;
}
.top-bar-btn
{
    color: #FFFFFF;
}
.top-bar-btn:hover
{
    border-bottom: 2px solid white;
    background-color: rgb(233,30,99);
}
.blur-filter
{
    filter: blur(3px)  brightness(85%);
}
.bg
{
    background-image:
        linear-gradient(45deg,rgba(130, 220, 255, 0.6),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6));
    background-position: right top;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}
.scrollable{
    overflow-y: auto;
    overflow-x: hidden;
}
#searchBar {
    width : 50% ;
    margin-left: 5%;
}
#cart-image{
    width:35px;
    height:35px;
}
/* TODO: Hover and Focus state.
 *       Fix position of mobile search button.
 */
 .mdh-expandable-search {
    margin: 0 50px;
    align-items: center;
    justify-content: center;
  }
  
  .mdh-expandable-search form {
    max-width: 600px;
  }
  
  .mdh-expandable-search,
  .mdh-expandable-search form,
  .mdh-expandable-search input {
    /* Cross browser flex-grow */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  .mdh-expandable-search,
  .mdh-expandable-search form {
    /* Cross browser inline-flex */
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  /* Position search icon */
  .mdh-expandable-search .material-icons {
    position: relative;
    right: -40px;
    margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
  }
  
  .mdh-expandable-search input {
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.445);
    padding: 0px 35px 0px 70px;
    height: 40px;
    line-height: 40px; /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  }
  
  .mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
      color:    #FFFFFF;
  }
  .mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #FFFFFF;
     opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
  }
  .mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #FFFFFF;
     opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
  }
  .mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #FFFFFF;
  }
  
  
  /* Bug fix: https://github.com/google/material-design-lite/issues/1078
   * To much padding on the left of header when the menu button is hidden */
  @media screen and (min-width: 851px) {
    .mdl-layout__header-row {
      padding: 0 40px 0 40px;
    }
  }
  
  /* Bug fix for badges being in the wrong location */
  .mdl-badge[data-badge]:after {
    right: -7px;
    top: -8px;
  }

.img-switcher-cart
{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.scrollable
{
    background-color: white;
    width: 100%;
    height: 650px;
}
  